.row-blue {
    background-color: blue;
    height: 200px;
    margin: 10px 0;
}

.row-green {
    background-color: green;
    height: 200px;
    margin: 10px 0;
}

.row-orange {
    background-color: orange;
    height: 200px;
    margin: 10px 0;
}